.App {
  text-align: center;
}

.app__form{
  padding: 20px;
  position: fixed;
  bottom: 0;
  z-index: 1;
  background-color: #e9e9e9;
  width: 95%;
  margin: 20px; 
}

/* making the send button next to the input */
/* overwrites because of material UI learn Material UI theming */
.app__formControl{
  display: flex !important;
  flex-direction: row !important;
  /* let the input box push as far as it can without wrapping to send icon */
  /* its in the button on app.js className */
}

.app__input{
  flex: 1;
}

.app__iconButton{
  flex: 0;
}
